.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.sync-conflict*
*.log
*.html
*.tex
*.svg
*.utf8.md
*.knit.md
*.rda
*.RDataTmp
*.png
*.sav
*.csv
*.Rproj
*.pdf
*.docx
*.tmp
*.txt
*.mkv
*.ov
*.xlsx
*.csv#